# Copia este archivo a .env-claves y ajusta los valores según tu entorno
SECRET_KEY="cambia-esta-clave-super-secreta"
ADMIN_EMAIL="admin@siloe.com.py"
ADMIN_PASSWORD="admin321"
ACCESS_TOKEN_EXPIRE_MINUTES="120"
LOCAL_TIMEZONE="America/Asuncion"

# Email / SMTP
SMTP_HOST="mail.siloe.com.py"
SMTP_PORT="465"
SMTP_USER="sistema@siloe.com.py"
SMTP_PASSWORD="R{E+=V9)c27_"
SMTP_FROM="Sistema Cantina Siloé <sistema@siloe.com.py>"
SMTP_ENABLED="1"
LOW_BALANCE_THRESHOLD="5000"
